@media(max-width:800px){

#flexbox{
width:100%;
flex-direction:column;
}
/* NAVIGATION FORMATTING ------------------------------------------------------------> */

#nav{
margin-top:0px;
}

#main-list{
display:none;
overflow:hidden;
}

#home, #services, #resources, #contact{
border-right:none;
}

#menu-collapse{
display:block;
}

.list-item{
width:100%;
text-align:left;
}

#sub-nav{
width:100%;
margin-left:0px;
padding-bottom:5px;
display:none;
margin-top:10px;
background-color:white;
position:relative;
}
.drop-down{
text-align:left;
}

.drop-down-links{
font-size:0.9rem
}

.removepadding{
padding-top:0px;
}

/* ASIDE FORMATTING ------------------------------------------------------------> */

#aside{
width:100%;
}

/* MAIN FORMATTING ------------------------------------------------------------> */

#main{
width:100%;
}
}